<strong>Hello {{provider}}</strong></br>
<p>Unfortunately there has been a cancelation:</p>
<p>
  <strong>Recipient: </strong> {{user}} </br>
  <strong>Delivery id: </strong> {{id}} </br>
</p>
<p>Thank you for your understanding!</p>
</br>
<strong>FastFeet Team</strong>
