<strong>Hello {{provider}}</strong></br>
<p>A new delivery has been asigned to you:</p>
</br>
<p>
  <strong>Recipient: </strong> {{recipient}} </br>
  <strong>Address: </strong> {{address}} </br>
  <strong>Delivery id: </strong> {{id}} </br>
</p>
<p>Please pick it up to start your delivery!</p>
</br>
<strong>FastFeet Team</strong>
